{% extends 'manage.html' %}
{% block manage_content %}
<form action='/{{ what }}/dodaj/' method='post'>
{% if blad %}
<div class='blad'>Błędne dane, popraw</div>
{% endif %}
<table class='colortable faktura_table'>
<tr><td>Nr: <input type='test' name='numer' value='{{ nr }}'></td><td>Data: <input type='text' id='id_data' name='data' value='{{ data}}'></td></tr>
{% if kontrahenci %}
	<tr><td colspan='2'>Kontrahent: <select name='kontrahent'>
	{% for kon in kontrahenci %}
	<option value='{{ kon.id }}'>{{kon.fullName}}</option>
	{% endfor %}
	</select></td></tr>
{% endif %}
</table>
<input type='submit' value='Dalej'>
</form>
{% endblock %}
