{% extends 'manage.html' %}
{% block manage_content %}
<form action='/faktura/dodaj/' method='post'>
{% if blad %}
<div class='blad'>Błędne dane, popraw</div>
{% endif %}
<table class='colortable faktura_table'>
<tr><td>Nr: <input type='test' name='numer'></td><td>Data: <input type='text' id='id_data' name='data'></td></tr>
<tr><td colspan='2'>Kontrahent: <select name='kontrahent'>
{% for kon in kontrahenci %}
<option value='{{ kon.id }}'>{{kon.fullName}}</option>
{% endfor %}
</select></td></tr>
</table>
<input type='submit' value='Dalej'>
</form>
{% endblock %}
