{% extends 'manage.html' %}

{% block manage_content %}
<table class='colortable faktura_table'>
<tr><td colspan='4'>{{fakt.numer}}</td><td colspan='3'>{{fakt.data|date:"Y/m/d"}}</td></tr>
<tr>
<td colspan='7'>
{{fakt.kontrahent.nazwa}}<br/>
{{fakt.kontrahent.miasto}},{{fakt.kontrahent.adres}}<br/>
{{fakt.kontrahent.printNip}}</td></tr>
<tr><th>L.p</th><th>Nazwa</th><th>Ilość</th><th>Cena netto</th></th><th>VAT</th><th>Cena brutto</th><th>Wartość</th></tr>
{% for dodany in dodane %}
<tr><td>{{ forloop.counter }}</td><td>{{dodany.towar}}</td><td>{{ dodany.ilosc }}</td><td>{{ dodany.cena }}</td><td>{{dodany.towar.vat}}%</td><td>{{dodany.cena_brutto}}<td>{{dodany.wartosc}}</td></tr>
{% endfor %}
<tr><td></td><td></td><td></td><td></td><td></td><td>Suma:</td><td>{{ suma }} </td></tr>
</table>

<form action='{{ url }}' method='post'>
<table class='colortable'>
<tr><th>Towar</th><th>Ilość</th><th>Cena zakupu netto</th><th></th></tr>
<tr><td><select name='towar'>
{% for item in towary %}
<option value='{{ item.id }}'>{{item.nazwa}}</option>
{% endfor %}
</select></td><td><input name='ilosc' type='text'></td><td><input name='cena' type='text'></td><td><input type='submit' value='Dodaj'></td></tr>
</table>
</form>
{% endblock %}
