body
{
	background: #d9d9d9;
	background-image:url('/media/background.png');
	background-repeat: no-repeat;
}
h1,h2 {
padding: 0px;
margin: 0px;
color: Green;
#background: lightblue;
}
nav a {
	text-decoration:none;
	color: inherit;
}
#head {
	margin: -7px -7px 10px -7px;
	position: static;
#	background: lightblue;
}
.horiz_menu {
	left:0px;
	border:0px;
	margin: 0px;
	padding: 0px;
	color:darkred;
	height: 1.2em;
#	background:lightblue;
}
.horiz_menu li {
	float: left;
	width: auto;
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 0px 10px;
#	background: lightblue;
}
.horiz_menu li:hover {
	color: white;
	background: blue;
}
footer {
	clear: both;
}
#manage_menu {
	border: 1px none
	width:10em;
	float:left;
	margin-right: 1em;
}
.vert_menu ul {
	margin-top: 0;
	margin-left: -2em;
	margin-bottom: -0.5em;
}
.vert_menu li {
	background-image: url('/media/li.png');
	background-repeat: no-repeat;
	width:100px;
	height:25px;
	margin-top: 0px;
	margin-bottom: 0px;
#	margin-left: 0px;
	padding-left:10px;
	padding-top: 2px;
	list-style-type: none;
}
.vert_menu li:hover {
	color: yellow;
}
.vert_menu li a {
	display: inline-block;
	width:100%;
	height: 100%;
}
.colortable {
	border-spacing:0px 0px 0px 0px;
	border-collapse: collapse;
			
}
.colortable .row1 {
	background: pink;
}
.colortable .row2 {
	background: lightblue;
}
.colortable .row1:hover, .colortable .row2:hover {
	background: lightgreen;
}
.colortable td, .colortable th{
	border: 1px solid;
}
.colortable img {
	height: 0.8em;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
#float {
	position: absolute;
	background: white;
	border: solid 1px black;
	display: none;
}
#float td {
	padding: 3px;
}
fieldset {
	width: 110px;
}
.faktura_table td {
	width: 15%;
}
.blad {
	color: red;
	font-size: 1.5em;
}
.content {
	margin-left: 10em;
