{% extends 'manage.html' %}

{% block manage_content %}
<table class='colortable'>
<tr><td>Nazwa</td><td> {{ towar.nazwa }}</td></tr>
<tr><td>Cena zakupu netto</td><td> {{towar.zakup_netto }}</td></tr>
<tr><td>VAT</td><td> {{towar.vat.wartosc }}%</td></tr>
<tr><td>Cena zakupu brutto</td><td> {{towar.zakup_brutto }}</td></tr>
<tr><td>Marża</td><td> <input id='marza' type='text' name='marza' value='{{towar.marza }}' style='width: 3em'>%</td></tr>
<tr><td>Cena sprzedaży brutto</td><td> <input id='sprzedaz_brutto' type='text' name='sprzedaz_brutto' value='{{towar.sprzedaz_brutto }}' style='width: 3em'></td></tr>
</table>
{% endblock %}
