{% extends 'manage.html' %}

{% block head %}
	{{ block.super }}
	$('#marza').keyup(function()
	{
		document.getElementById('sprzedaz_brutto').value=((document.getElementById('marza').value/100.0+1.0)*document.getElementById('zakup_brutto').innerHTML).toFixed(2);
	})
	$('#sprzedaz_brutto').keyup(function()
	{
		document.getElementById('marza').value=(((document.getElementById('sprzedaz_brutto').value/document.getElementById('zakup_brutto').innerHTML)-1)*100).toFixed(2)
	})
{% endblock %}
{% block manage_content %}
<form method='POST'>
<table class='colortable'>
<tr><td>Nazwa</td><td> {{ towar.nazwa }}</td></tr>
<tr><td>Cena zakupu netto</td><td> {{towar.zakup_netto }}</td></tr>
<tr><td>VAT</td><td> {{towar.vat.wartosc }}%</td></tr>
<tr><td>Cena zakupu brutto</td><td id='zakup_brutto'> {{towar.zakup_brutto }}</td></tr>
<tr><td>Marża</td><td> <input id='marza' type='text' name='marza' value='{{towar.marza }}' style='width: 4em' autocomplete="off">%</td></tr>
<tr><td>Cena sprzedaży brutto</td><td> <input id='sprzedaz_brutto' type='text' name='sprzedaz_brutto' value='{{towar.sprzedaz_brutto }}' style='width: 4em' autocomplete="off"></td></tr>
</table>
<input type='submit' value='Zapisz'>
</form>
{% endblock %}
