{% extends 'manage.html' %}

{% block manage_content %}
lista "{{type|capfirst}}"
<table class='colortable'>
<tr><td>Lp.</td><td>Wartość</td><td></td><td></td></tr>
{% for item in items %}
<tr class="{% cycle row1,row2 %}"><td>{{forloop.counter}}</td><td>{{ item}}{{suffix}}</td>
<td><a href='/{{type}}/{{ item.id }}/edit'><img src='/media/edit.png' alt='edit'/></a></td>
<td><a href='/{{type}}/{{ item.id }}/delete'><img src='/media/delete.gif' alt='delete'/></a></td></tr>
{% endfor %}
</table>
{% endblock %}
