{% extends 'manage.html' %}
{% block manage_content %}
lista "{{type|capfirst}}"
<table class='colortable'>
<tr><td>Lp.</td><td>Wartość</td><td></td><td></td>
	{% for opt in opts %}
		<td></td>
	{% endfor %}
	</tr>
{% for item in items %}
<tr class="{% cycle row1,row2 %}"><td>{{forloop.counter}}</td>
<td id='list_{% if item.id %}{{item.id}}{% else %}{{item.ean}}{% endif %}' class='show_{{type}}'>{{ item}}{{suffix}}</td>
<td><a href='/{{type}}/{% if item.id %}{{ item.id }}{% else %}{{item.ean}}{% endif %}/edit'><img src='/media/edit.png' alt='edit'/></a></td>
<td><a href='/{{type}}/{% if item.id %}{{ item.id }}{% else %}{{item.ean}}{% endif %}/delete'><img src='/media/delete.gif' alt='delete'/></a></td>
	{% for opt in opts %}
		<td><a href='/{{type}}/{% if item.id %}{{ item.id }}{% else %}{{item.ean}}{% endif %}/{{ opt.action }}' alt='{{ opt.alt }}'>{{opt.symbol|safe}}</a></td></tr>
	{% endfor %}
	</tr>
{% endfor %}
<tr><td></td><td></td>
<td colspan='{{ opts|length|add:"2" }}' style='text-align: center'>
<a href='/{{type}}/dodaj/'><img src='/media/add.png'/></a>
</td></tr>
</table>
{% endblock %}
