<table class='colortable desc_table'>
<tr><td>Nazwa:</td><td>{{ towar.nazwa }}</td></tr>
<tr><td>Cena zakupu netto:</td><td>{{zakup_netto|floatformat:2}}</td></tr>
<tr><td>Cena zakupu brutto:</td><td>{{zakup_brutto|floatformat:2}}</td></tr>
<tr><td>Cena sprzedaży netto:</td><td>{{sprzedaz_netto|floatformat:2}}</td></tr>
<tr><td>Cena sprzedaży brutto:</td><td>{{sprzedaz_brutto|floatformat:2}}</td></tr>
<tr><td>Marża:</td><td>{{ towar.marza }}%</td></tr>
<tr><td>JM:</td><td>{{ towar.jm }}</td></tr>
<tr><td>VAT:</td><td>{{ towar.vat }}%</td></tr>
</table>
