<header>
<div style="width:40%; border-radius:20px;background:#0020aa;float:left">
<!-- <div class='header' style='width:75px'><img src="/media/header_left.png" width=100%></div> -->
<div class='header' style='width:320px;margin-left:15%;'><img src="/media/header_middle.png" width=100%></div>
<!-- <div class='header_right' style='width:75px'><img src="/media/header_right.png" width=100%> </div>-->
</div>
<div style='clear: both'></div>
<!--
<h1>Niezbędnik Każdej Firmy</h1>
<h2>wspieramy prowadzenie gospodarki magazynowej</h2> 
-->
</header>
