{% extends 'base.html' %}
{% block head %}
{% include 'towar_opis_jquery.js' %}
{% include 'kontrahent_opis_jquery.js' %}
{% include 'menu_slider_jquery.js' %}
{% include 'datapicker.js' %}
{% endblock %}
{% block content %}
<nav class="vert_menu" id='manage_menu'>
{% block manage_menu %}
<fieldset>
	<legend id='slide_towar' >Towar</legend>
	<ul>
		<li><a href='/towar/dodaj'>Dodaj</a></li>
		<li><a href='/towar/'>Lista</a></li>
	</ul>
</fieldset>
<fieldset>
	<legend id='slide_faktury'>Faktury zakupu</legend>
	<ul>
		<li><a href='/faktura/dodaj'>Dodaj</a></li>
		<li><a href='/faktura/'>Lista</a></li>
	</ul>
</fieldset>
<fieldset>
	<legend id='slide_paragony'>Paragony</legend>
	<ul>
		<li><a href='/paragon/dodaj'>Dodaj</a></li>
		<li><a href='/paragon/'>Lista</a></li>
	</ul>
</fieldset>
<fieldset>
	<legend id='slide_stan_magazynowy'>Stan magazynowy</legend>
	<ul>
		<li><a href='/stan'>Stan magazynu</a></li>
	</ul>
</fieldset>
<fieldset>
	<legend id='slide_kontrahenci' >Kontrahenci</legend>
	<ul>
		<li><a href='/kontrahent/dodaj'>Dodaj</a></li>
		<li><a href='/kontrahent/'>Lista</a></li>
	</ul>
</fieldset>
<fieldset>
	<legend id='slide_vat' >VAT</legend>
	<ul>
		<li><a href='/vat/dodaj'>Dodaj</a></li>
		<li><a href='/vat/'>Lista</a></li>
	</ul>
</fieldset>
<fieldset>
	<legend id='slide_jm'>JM</legend>
	<ul>
		<li><a href='/jm/dodaj'>Dodaj</a></li>
		<li><a href='/jm/'>Lista</a></li>
	</ul>
</fieldset>
<fieldset>
	<legend id='slide_miasta'>Miasta</legend>
	<ul>
		<li><a href='/miasto/dodaj'>Dodaj</a></li>
		<li><a href='/miasto/'>Lista</a></li>
	</ul>
</fieldset>
{% endblock %}
</nav>
<article class='content'>
{% block manage_content %}
W tym miejscu możesz zarządzać swoją firmą.
{% endblock %}
<article>
{% endblock %}
