{% extends 'base.html' %}
{% block head %}
{% include 'towar_opis_jquery.js' %}
{% include 'kontrahent_opis_jquery.js' %}
{% include 'menu_slider_jquery.js' %}
{% include 'datapicker.js' %}
{% endblock %}
{% block content %}
<nav class="vert_menu" id='manage_menu'>
{% block manage_menu %}
<fieldset>
	<legend>Towar</legend>
	<ul>
		<li><a href='/towar/dodaj'>Dodaj</a></li>
		<li><a href='/towar/'>Lista</a></li>
	</ul>
</fieldset>
<fieldset>
	<legend>Faktury</legend>
	<ul>
		<li><a href='/faktura/dodaj'>Dodaj</a></li>
		<li><a href='/faktura/'>Lista</a></li>
	</ul>
</fieldset>
<fieldset>
	<legend>Paragony</legend>
	<ul>
		<li><a href='/paragony/dodaj'>Dodaj</a></li>
		<li><a href='/paragony/'>Lista</a></li>
	</ul>
</fieldset>
<fieldset>
	<legend>Kontrahenci</legend>
	<ul>
		<li><a href='/kontrahent/dodaj'>Dodaj</a></li>
		<li><a href='/kontrahent/'>Lista</a></li>
	</ul>
</fieldset>
<fieldset>
	<legend>VAT</legend>
	<ul>
		<li><a href='/vat/dodaj'>Dodaj</a></li>
		<li><a href='/vat/'>Lista</a></li>
	</ul>
</fieldset>
<fieldset>
	<legend>JM</legend>
	<ul>
		<li><a href='/jm/dodaj'>Dodaj</a></li>
		<li><a href='/jm/'>Lista</a></li>
	</ul>
</fieldset>
<fieldset>
	<legend>Miasta</legend>
	<ul>
		<li><a href='/miasto/dodaj'>Dodaj</a></li>
		<li><a href='/miasto/'>Lista</a></li>
	</ul>
</fieldset>
{% endblock %}
</nav>
<article class='content'>
{% block manage_content %}
W tym miejscu możesz zarządzać swoją firmą.
{% endblock %}
<article>
{% endblock %}
