{% extends 'base.html' %}

{% block content %}
<nav class="vert_menu" id='manage_menu'>
{% block manage_menu %}
<fieldset>
	<legend>Towary</legend>
	<ul>
		<li><a href='/towary/dodaj'>Dodaj</a></li>
		<li><a href='/towary/'>Lista</a></li>
	</ul>
</fieldset>
<fieldset>
	<legend>Paragony</legend>
	<ul>
		<li><a href='/paragony/dodaj'>Dodaj</a></li>
		<li><a href='/paragony/'>Lista</a></li>
	</ul>
</fieldset>
<fieldset>
	<legend>VAT</legend>
	<ul>
		<li><a href='/vat/dodaj'>Dodaj</a></li>
		<li><a href='/vat/'>Lista</a></li>
	</ul>
{% endblock %}
</nav>
<article class='content'>
{% block manage_content %}
W tym miejscu możesz zarządzać swoją firmą.
{% endblock %}
<article>
{% endblock %}
